<div class="lib-content-wrapper">
  <lib-title-actions-toolbar
    title="New notebook"
    [backButton]="true"
    (back)="onCancel()"
  >
  </lib-title-actions-toolbar>

  <!--scrollable page content-->
  <div *ngIf="isBasic" class="page-padding lib-flex-grow lib-overflow-auto">
    <div *ngIf="isTeached" class="form-buttons" align="right">
      <button mat-raised-button type="button" (click)="onAdvanced()" i18n>
        ADVANCED
      </button>
    </div>

    <app-form-name
    [parentForm]="formCtrl"
    ></app-form-name>

    <mat-grid-list cols="6" rowHeight="300px">
      <ng-container *ngFor="let notebook of processedData">
        <mat-grid-tile *ngIf="notebook.isTemplate==='yes'" >
          <mat-card class="post-tile">
            <mat-card-title>{{ notebook.customerCourseName }}</mat-card-title>
            <mat-card-header>
              <mat-card-subtitle>{{ notebook.name }}</mat-card-subtitle>
              <img mat-card-avatar src="https://picsum.photos/300/300/?random" />
            </mat-card-header>
            <br />
            <mat-card-content>{{ notebook.customerImageName }}</mat-card-content> 
            <mat-card-actions> 
              <button mat-raised-button [disabled]="!formCtrl.valid || blockSubmit" color="primary" (click)="onCreateNotebook( notebook.jsonStr)">Launch</button> 
              <button mat-raised-button *ngIf="isTeached" color="accent" (click)="onEdit(notebook)">Edit</button> 
            </mat-card-actions> 
            <mat-card-footer>{{ notebook.customerImageVersion }}</mat-card-footer>
          </mat-card>          
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>

  </div>

  <div *ngIf="!isBasic" class="page-padding lib-flex-grow lib-overflow-auto">
    <form
      novalidate
      class="form"
      (ngSubmit)="onSubmit()"
      [formGroup]="formCtrl"
    >
      <app-form-name [parentForm]="formCtrl"></app-form-name>

      <app-form-image
        [parentForm]="formCtrl"
        [images]="config?.image?.options"
        [imagesGroupOne]="config?.imageGroupOne?.options"
        [imagesGroupTwo]="config?.imageGroupTwo?.options"
        [allowCustomImage]="config?.allowCustomImage"
        [hideRegistry]="config?.hideRegistry"
        [hideTag]="config?.hideTag"
      ></app-form-image>

      <app-form-cpu-ram
        [parentForm]="formCtrl"
        [readonlyCPU]="config?.cpu?.readOnly"
        [readonlyMemory]="config?.memory?.readOnly"
        [cpuLimitFactor]="config?.cpu?.limitFactor"
        [memoryLimitFactor]="config?.memory?.limitFactor"
      ></app-form-cpu-ram>

      <app-form-gpus
        [parentForm]="formCtrl"
        [vendors]="config?.gpus?.value.vendors"
      ></app-form-gpus>

      <app-form-workspace-volume
        *ngIf="formCtrl.get('workspace')"
        [readonly]="config?.workspaceVolume?.readOnly"
        [volGroup]="formCtrl.get('workspace')"
        [externalName]="formCtrl.get('name').value"
      >
      </app-form-workspace-volume>

      <app-form-data-volumes
        [volsArray]="formCtrl.get('datavols')"
        [readonly]="config?.dataVolumes?.readOnly"
        [externalName]="formCtrl.get('name').value"
      >
      </app-form-data-volumes>

      <lib-advanced-options>
        <app-form-configurations
          [parentForm]="formCtrl"
        ></app-form-configurations>

        <app-form-affinity-tolerations
          [parentForm]="formCtrl"
          [affinityConfigs]="config?.affinityConfig?.options"
          [tolerationGroups]="config?.tolerationGroup?.options"
        ></app-form-affinity-tolerations>

        <app-form-advanced-options
          [parentForm]="formCtrl"
        ></app-form-advanced-options>
      </lib-advanced-options>
    </form>

    <div class="form-buttons">
      <div
        [matTooltip]="setTooltipText(formCtrl)"
        [matTooltipDisabled]="formCtrl.valid"
      >
        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="!formCtrl.valid"
          i18n
        >
          LAUNCH
        </button>
      </div>

      <button
        mat-raised-button
        type="button"
        class="cancel-button"
        (click)="onCancel()"
        i18n
      >
        CANCEL
      </button>
    </div>
  </div>
</div>
