.form {
  margin-top: 1rem;
  margin-left: 1rem;
  max-width: 600px;
}

.form-buttons {
  display: flex;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.cancel-button {
  margin-left: 0.5rem;
}

.mat-card-footer {
  height:35px;
}

.mat-card-content {
  height:35px;
}

.mat-card-title {
  height:70px;
}

.mat-card {
  width: 150px;
}