<!-- Notebook CPU/RAM -->
<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'microchip']" class="check"></fa-icon>
    CPU / RAM
  </h3>
  <p>
    Specify the total amount of CPU and RAM reserved by your Notebook Server.
    For CPU-intensive workloads, you can choose more than 1 CPU (e.g. 1.5).
  </p>

  <div class="inputs-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>CPU</mat-label>
      <input matInput placeholder="# of CPU Cores" formControlName="cpu" />
      <mat-error>Please provide the CPU requirements</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Memory</mat-label>
      <input matInput placeholder="Amount of Memory" formControlName="memory" />
      <mat-error>Please provide the RAM requirements</mat-error>
    </mat-form-field>
  </div>
</div>
