$kubeflow-blue-hue-1: #bedcff;
$kubeflow-blue-hue-2: #a1c3ff;
$kubeflow-blue-hue-3: #6ca1ff;
$kubeflow-blue-primary-hue: #4279f4;
$kubeflow-blue-hue-4: #014bd1;
$kubeflow-blue-hue-5: #0028aa;

$kubeflow-white: white;
$kubeflow-black: black;
$kubeflow-black-1: rgba(black, 0.87);
$kubeflow-grey: rgba(black, 0.66);
$kubeflow-grey-1: rgba(black, 0.38);

$kubeflow-font-size-xlarge: 24px;
$kubeflow-font-size-large: 20px;
$kubeflow-font-size-regular: 14px;

$kubeflow-font-weight-regular: 400;
$kubeflow-font-weight-medium: 500;

$page-space-left: 20px;
$page-space-right: 20px;
$link-color: #4279f4;
