@import '~kubeflow/styles/variables.scss';

.server-type-wrapper {
  margin-bottom: 2rem;
  border: none;
  justify-content: space-between;

  .mat-button-toggle {
    width: 188px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
  }

  .mat-button-toggle-checked {
    border: 2px solid $kubeflow-blue-primary-hue;
    background-color: white;
  }

  .server-type-icon {
    height: 62px;
    width: 150px;
    margin-top: 1rem;
  }

  .server-type-title {
    color: rgba(0, 0, 0, 0.66);
    font-weight: 500;
    font-size: 20px;
  }

  .server-type-content {
    white-space: pre-line;
    line-height: 18px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.custom-notebook-accordion {
  margin-bottom: 1rem;
}
