/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import '~kubeflow/lib/fonts.scss';

// Use the material icons offline
@import '~material-icons/iconfont/material-icons.scss';

.cdb-snackbar {
  .snack-container {
    width: 200px;
    white-space: initial;
    overflow-wrap: break-word;

    span {
      width: 100%;
    }
  }
}
