<div class="form--container" mat-dialog-content>
  <form novalidate [formGroup]="formCtrl">
    <lib-form-section
      title="New Secret"
      text="Create a new Secret."
      icon="fa:fas:hdd"
      i18n-title
      i18n-text
    >
    </lib-form-section>

    <!--Name / Namespace-->
    <lib-form-name-namespace-inputs
      [nameControl]="formCtrl.get('name')"
      [namespaceControl]="formCtrl.get('namespace')"
      resourceName="Secret"
      i18n-resourceName
      [existingNames]="secretNames"
    >
    </lib-form-name-namespace-inputs>

    <!--Secret Type-->
    <mat-form-field
      appearance="outline"
      class="wide"
    >
      <mat-label i18n>Select Secret Type</mat-label>
      <mat-select formControlName="secretType">
        <mat-option [value]="Opaque">opaque</mat-option>
        <mat-option [value]="ServiceAccountToken">service-account-token</mat-option>
        <mat-option [value]="TLS">tls</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-checkbox formControlName="isSync">Whether to synchronize to another namespace</mat-checkbox>
    </div>
    <!-- <mat-label i18n>Secret Lable</mat-label>
    <app-yamls #labeleditor [value]="formCtrl.get('labels').value" mode="yaml" theme="xcode"></app-yamls>
    <mat-label i18n>Secret Annotation</mat-label>
    <app-yamls #annotationeditor [value]="formCtrl.get('annotations').value" mode="yaml" theme="xcode"></app-yamls> -->
    <mat-label i18n>Secret Data</mat-label>
    <app-list-key-value
      #data
      [formArray]="formCtrl.get('data')"
      addButtonText="Add Secret Data"
      keyLabel="Name"
      valueLabel="Value"
    ></app-list-key-value>

    <button
    mat-raised-button
    color="primary"
    class="form--button-margin"
    type="submit"
    (click)="onSubmit()"
    [disabled]="!formCtrl.valid || blockSubmit"
    i18n
    >
      CREATE
    </button>

    <button mat-raised-button type="button" (click)="onCancel()" i18n>
      CANCEL
    </button>
  </form>
</div>
