[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-cors = "==3.0.9"
flask = "==1.0.2"
kubernetes = "==8.0.1"

[requires]
python_version = "3.7"
