.container {
  width: fit-content;
  margin: 1rem auto 1rem auto;
}

.card {
  width: 900px;
  background: white;
}

.spacer {
  flex-grow: 1;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

// Header Styling
.header {
  display: flex;
  padding: 1.5rem 1.0rem 0.5rem 1.5rem;
}

// Table Styling
table {
  width: 100%;
}

.resource-row {
  cursor: pointer;
}

.resource-row:hover {
  background: #fafafa;
}

.resource-row td {
  border-bottom-width: 0;
}

.detail-row {
  height: 0;
}

.detail-row-content {
  overflow: hidden;
}

// Column Widths
.mat-column-status {
  width: 7.5%;
}

.mat-column-actions {
  width: 20%;
}

// ------------
// Expanded Details
// ------------
.cards-wrapper {
  display: flex;
  box-sizing: border-box;
  margin: 0.90rem 0.4rem;
}

.cards-wrapper > * {
  flex: 1 1 0px;
  box-sizing: border-box;
}

.resources-card {
  max-width: 30%;
  padding-right: 0.90rem;
}

.volumes-card {
  max-width: 30%;
  padding-right: 0.90rem;
}

// ------------
// Actions
// ------------
.actions-wrapper {
  display: flex;
  justify-content: flex-end;
}

.action-disabled {
  background-color: #eeeeee;
}

.start {
  color: #4caf50;
}

.pause {
  color: #ff9800;
}

.delete {
  color: #f44336;
}
