[Certs]
BrokerCertChain = ca-broker.crt
CertFile = client.crt
PrivateKey = client.key

[Brokers]
local = local;8883;localhost;127.0.0.1
external = external;8883;ec2-18-233-255-8.compute-1.amazonaws.com;10.5.1.17
docker = docker;8883;172.17.0.1;172.17.0.1

[BrokersWebSockets]
local = local;443;localhost;127.0.0.1
external = external;443;ec2-18-233-255-8.compute-1.amazonaws.com;10.5.1.17
docker = docker;443;172.17.0.1;172.17.0.1

