[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
redis = "*"
celery = "*"
flower = "*"
django-redis = "*"
djoser = "*"
install = "*"
djangorestframework-simplejwt = "*"
mozilla-django-oidc = "*"

[dev-packages]
locust = "*"

[requires]
python_version = "3.9"
