<div *ngIf="volume" [formGroup]="volume" class="row">
  <mat-form-field class="column" appearance="outline" id="type">
    <mat-label>{{ "volume.lblType" | translate }}</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngIf="defaultStorageClass" value="New">{{ "volume.optNew" | translate }}</mat-option>
      <mat-option value="Existing">{{ "volume.optExisting" | translate }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Volume Name Input -->
  <lib-name-input
    class="column"
    [nameControl]="volume.get('name')"
    id="name"
  ></lib-name-input>

  <!-- Size Input -->
  <lib-positive-number-input
    id="size"
    class="column"
    min="1"
    step="1"
    [sizeControl]="volume.get('size')"
    label="{{ 'volume.lblSize' | translate }}"
  ></lib-positive-number-input>

  <!-- Mode Input -->
  <mat-form-field class="column" appearance="outline" id="mode">
    <mat-label>{{ "volume.lblMode" | translate }}</mat-label>
    <mat-select formControlName="mode">
      <mat-option value="ReadWriteOnce">{{ "volume.optReadWriteOnce" | translate }}</mat-option>
      <mat-option value="ReadOnlyMany">{{ "volume.optReadOnlyMany" | translate }}</mat-option>
      <mat-option value="ReadWriteMany">{{ "volume.optReadWriteMany" | translate }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Mount Input -->
  <mat-form-field class="column" appearance="outline" id="path">
    <mat-label>{{ "volume.lblMountPoint" | translate }}</mat-label>
    <input matInput formControlName="path" />
  </mat-form-field>
</div>
