:host {
    @apply --layout-vertical;
    padding: 1.3em; /* 20px */
    overflow: auto;
    grid-gap: .75em; /* 12px */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 0;
    min-width: 0;
    width: 100%;
    max-width: 82em;
    margin: auto;
    flex: 1;
    --accent-color: #007dfc;
    --primary-background-color: white;
}

.column {grid-row: 1}
.column:nth-of-type(1) {grid-column: 1}
.column:nth-of-type(2) {grid-column: 2}
.column:nth-of-type(3) {grid-column: 3}
paper-card {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    min-width: 25.75em;
    padding-bottom: 16px;
    font-size: 14px;
    --paper-card-header-color: #202124;
    --paper-card-header: {
        font-family: "Google Sans";
        height: 62px;
        border-bottom: 1px solid var(--divider-color);
        margin-bottom: .5em;
        @apply --layout-horizontal;
        @apply --layout-center;
    }
    --paper-card-header-text: {
        font-size: 16px;
        font-weight: 500;
        padding: 0 1em;
        flex: 1;
    };
    --paper-card-content: {
        font-size: 14px;
    }
}
paper-card#Quick-Links {
    --paper-item-body-two-line-min-height: 2em;
}
paper-card#Platform-Links {
    --paper-card-header-color: #2c6acb;
    --paper-card-header: {
        background: #e9f0fd;
        height: 62px;
        border-color: white;
        @apply --layout-horizontal;
        @apply --layout-center;
    };
    --paper-card-header-image-text: {
        flex: 1;
        padding: 16px 0;
        position: initial;
    };
    --paper-card-header-image: {
        width: 2em;
        padding: .5em .75em .5em 1.25em;
    };
}

#Documentation [secondary] {
    word-break: break-word;
    width: 100%;
    white-space: normal;
    font-size: .9em;
    line-height: 1.5em;
}

#Quick-Links {
    grid-column: 3
}

#Platform-Links header {
    font-size: 1.25em;
    font-weight: 400;
    padding: .5em 1em;
}

paper-icon-item {
    @apply --layout-flex;
    @apply --layout-justified;
    @apply --layout-horizontal-reverse;
    font-size: 1em;
    overflow:hidden;
    --paper-item-icon-width: 40px;
    --paper-icon-item: {
        font-weight: 500;
    };
    --paper-item-icon: {
        color: var(--icon-color);
        border-radius: 50%;
    };
    --paper-item-focused-before: {
        background: #007dfc;
    };
    --paper-icon-button-ink-color: var(--accent-color);
}

paper-icon-item.external {
    --paper-item-icon: {
        color: var(--external-icon-color);
    };
}

#Quick-Links paper-icon-item {
    @apply --layout-horizontal;
    justify-content: unset;
}

paper-ripple {
    color: var(--accent-color);
}

.link {
    display: block;
    margin: .5em 1em;
}

.link paper-icon-item {
    padding: .5em 1em;
    border-radius: 5px;    
}

.link.more-coming {
    opacity: .4;
    font-style: italic;
    pointer-events: none
}

a {
    text-decoration: none;
    color: initial;
}

.header:hover {
    color: var(--paper-blue-700);
    text-decoration: underline;
}
