:host {
    @apply --layout-vertical;
    padding: 1em;
    overflow: auto;
    grid-gap: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 0;
    min-width: 0;
    flex: 1;
    --accent-color: #007dfc;
    --primary-background-color: #003c75;
    --sidebar-default-color: #ffffff4f;
    --border-color: #f4f4f6;
    --primary-background-color: white;
}

.link {
    background: #f1f3f4;
    margin: .5em 1em;
    border: 1px solid #eeeeef;
    padding: .5em 1em;
    border-radius: 5px;
    @apply --layout-horizontal;
}

.link paper-icon-item {
    @apply --layout-flex;
    @apply --layout-justified;
    @apply --layout-horizontal-reverse;
    --paper-item-icon-width: 40px;
    --paper-item-icon: {
        color: var(--accent-color);
        background: rgba(0, 125, 252, 0.25);
        border-radius: 50%;
    }
}

.link.more-coming {
    opacity: .4;
    font-style: italic;
    pointer-events: none
}
.column {grid-row: 1}
.column:nth-of-type(1) {grid-column: 1}
.column:nth-of-type(2) {grid-column: 2}
.column:nth-of-type(3) {grid-column: 3}
paper-card {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    min-width: 19em;
    min-width: 0;
    padding-bottom: 16px;
    --paper-card-header: {
        font-family: "Google Sans";
        height: 62px;
        border-bottom: 1px solid var(--border-color);
        margin-bottom: .5em;
        @apply --layout-horizontal;
        @apply --layout-center;
    }
    --paper-card-header-text: {
        padding: 0 1em;
        flex: 1;
    };
}
paper-card#Platform-Links {
    --paper-card-header-color: #2c6acb;
    --paper-card-header: {
        background: #e9f0fd;
        height: 62px;
        border-color: white;
        @apply --layout-horizontal;
        @apply --layout-center;
    };
    --paper-card-header-image-text: {
        flex: 1;
        padding: 16px 0;
        position: initial;
    };
    --paper-card-header-image: {
        width: 2em;
        padding: .5em .7em;
    };
}

#Getting-Started paper-icon-item:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
}

#Getting-Started paper-icon-item iron-icon {
    color: var(--accent-color)
}

#Getting-Started [secondary] {
    word-break: break-word;
    width: 100%;
    white-space: normal;
    font-size: .8em;
}

#Quick-Links {
    grid-column: 3
}

#Platform-Links header {
    font-size: 1.25em;
    font-weight: 400;
    padding: .5em 1em;
}

a {
    text-decoration: none;
    color: initial;
}

.header:hover {
    color: var(--paper-blue-700);
    text-decoration: underline;
}
