app-drawer-layout.flex(narrow='{{narrowMode}}')
    app-drawer#MainDrawer(slot='drawer')
        figure#Logo
            img(alt='Kubeflow Logo', src='assets/kf-logo_64px.svg')
            figcaption Kubeflow
        iron-selector#SidebarSelector(selected='{{sidebarItemIndex}}')
            template(is='dom-repeat', items='[[links]]')
                paper-item.menu-item(on-click='openLink') [[item.text]]
                template(is='dom-if', if='[[item.hasDivider]]')
                    aside.divider
        aside.flex
        footer.footer
            section.privacy Privacy
            section.build build version 
                span(title="Build: v[[buildVersion]] | Dashboard: v[[dashVersion]]") v[[buildVersion]]
    app-header-layout(fullbleed)
        app-header(slot='header', fixed)
            app-toolbar
                paper-tabs.bottom(selected='{{primaryViewIndex}}', hides, hidden$='[[!isZero(homeOrIframeViewIndex)]]')
                    paper-tab Dashboard
                    paper-tab(hidden$='[[!_devMode]]') Activity
                aside#NamespaceSelector(hidden$='[[!_devMode]]')
                    paper-dropdown-menu(label='Namespace')
                paper-icon-button#Menu(icon='menu', on-click='toggleSidebar', hides, hidden$='[[!narrowMode]]')
        neon-animated-pages.flex.layout.vertical(selected='[[homeOrIframeViewIndex]]', entry-animation='fade-in-animation', exit-animation='fade-out-animation')
            neon-animated-pages#PrimaryView.flex.layout.vertical(selected='[[primaryViewIndex]]', entry-animation='fade-in-animation', exit-animation='fade-out-animation')
                article#Dashboard
                    paper-card.Getting-Started(heading='Getting Started', hidden$='[[!_devMode]]')
                        template(is='dom-repeat', items='[[gettingStartedItems]]')
                            paper-icon-item
                                iron-icon(icon='[[item.icon]]', slot='item-icon')
                                paper-item-body(two-line)
                                    div [[item.text]]
                                    aside(secondary) Lorem ipsum...
                    paper-card.Quick-Links(heading='Quick Links')
                        template(is='dom-repeat', items='[[quickLinks]]')
                            article.link
                                paper-item-body [[item.text]]
                                paper-icon-button.button(icon='arrow-forward', alt='[[item.text]]', on-click='openQuickLink')
                        article.link.more-coming
                            paper-item-body More coming soon
                            paper-icon-button.button(icon='arrow-forward', diabled)
                article#Activity
            iframe#PageFrame.flex(src='[[url]]')
