div.page-title Profile Settings
iron-ajax#GetAllNamespacesAjax(auto='[[shouldFetchAllNamespaces(isClusterAdmin)]]', url='/api/workgroup/get-all-namespaces',
    last-response='{{allNamespaces}}', on-error='onAllNamespaceFetchError', handle-as='json')
section#Main-Content
    article.Acct-Info
        h2
            iron-icon.icon(icon='kubeflow:account')
            span.text Account Information
        .content
            span [[user]]
            template(is='dom-if', if='[[isClusterAdmin]]')
                b(style="color: red;") &nbsp;(Cluster Admin)
    article.Namespaces
        h2
            iron-icon.icon(icon='kubeflow:namespace')
            span.text Profile Memberships
        .content.small
            template(is='dom-if', if='[[!hasNamespaces]]')
                span.text You don't have any namespace memberships.
            template(is='dom-if', if='[[hasNamespaces]]')
                vaadin-grid(items='[[nsBreakdown(ownedNamespaces, editNamespaces, viewNamespaces)]]', theme="material-grid no-border wrap-cell-content", height-by-rows, multi-sort)
                    vaadin-grid-column(path='0', header='Your Role')
                    vaadin-grid-column(path='1', flex-grow='2', header='Namespaces')
    template(is='dom-if', if='[[isClusterAdmin]]')
        article.Cluster-Namespaces
            h2
                iron-icon.icon(icon='kubeflow:namespace')
                span.text Profiles Overview (Cluster Admin)
            .content.small
                vaadin-grid(items='[[allNamespaces]]', theme="material-grid no-border wrap-cell-content", height-by-rows, multi-sort)
                    vaadin-grid-column(path='0', header='Namespace')
                    vaadin-grid-column(path='1', header='Owner')
                    vaadin-grid-column(path='2', flex-grow='2', header='Contributors')
    template(is='dom-if', if='[[ownedNamespaces.length]]')
        article.Profile-Settings
            // Tab Navigation
            paper-tabs(selected='{{selectedTab}}', class='profile-tabs')
                paper-tab Contributors
                paper-tab Culling Policies

            // Tab Content
            iron-pages(selected='{{selectedTab}}', class='profile-content')
                div.tab-content
                    template(is='dom-repeat', items='[[ownedNamespaces]]' as='ownedNamespace')
                        manage-users-view-contributor(owned-namespace='[[ownedNamespace]]')
                div.tab-content
                    template(is='dom-if', if='[[ownedNamespaces.length]]')
                        div.namespace-selector(hidden$='[[!_hasMultipleNamespaces(ownedNamespaces)]]')
                            label Select Profile:
                            select(value='{{selectedNamespaceIndex}}', on-change='_onNamespaceSelectionChange')
                                template(is='dom-repeat', items='[[ownedNamespaces]]' as='ownedNamespace', index-as='index')
                                    option(value$='[[index]]') [[ownedNamespace.namespace]]
                        template(is='dom-if', if='[[_getSelectedNamespace(ownedNamespaces, selectedNamespaceIndex)]]')
                            manage-users-view-culling(owned-namespace='[[_getSelectedNamespace(ownedNamespaces, selectedNamespaceIndex)]]')
paper-toast#AllNamespaceError(duration=5000)
    | Failed to fetch all namespaces, because:
    strong [[allNamespaceError]]
