.contributor
    iron-ajax#RemoveContribAjax(method='DELETE', url='/api/workgroup/remove-contributor/[[ownedNamespace.namespace]]',
        on-response='handleContribDelete', on-error='handleContribDelete', handle-as='json', content-type='application/json')
    iron-ajax#AddContribAjax(method='POST', url='/api/workgroup/add-contributor/[[ownedNamespace.namespace]]',
        on-response='handleContribCreate', on-error='handleContribCreate', handle-as='json', content-type='application/json')
    iron-ajax#GetContribsAjax(auto='[[!empty(ownedNamespace)]]', url='/api/workgroup/get-contributors/[[ownedNamespace.namespace]]',
                last-response='{{contributorList}}', on-error='onContribFetchError', handle-as='json')   
    h2
        iron-icon.icon(icon='kubeflow:namespace')
        span.text {{localize('manageUsersViewContributor.ContributorsToYourNamespace', 'ownedNamespace', ownedNamespace.namespace)}}
    .content.small
        md2-input(label="{{localize('manageUsersViewContributor.lblEmail')}}", value='{{newContribEmail}}', on-submit='addNewContrib', placeholder="{{localize('manageUsersViewContributor.phdAddByEmail')}}", error$='{{localize(contribCreateError)}}')
            .prefix(slot='prefix')
                template(is='dom-repeat', items='[[contributorList]]')
                    paper-chip(on-remove='removeContributor') [[item]]
    paper-toast#ContribError(duration=5000)
        | {{localize('manageUsersViewContributor.errorContributor', 'ownedNamespace', ownedNamespace.namespace)}}
        strong [[contribError]]
    paper-toast#AllNamespaceError(duration=5000)
        | {{localize('manageUsersViewContributor.errorAllNamespaces'}}
        strong [[allNamespaceError]]
