:host {
    background: white;
    position: relative;
}
h1, h2 {
    font-family: Google Sans;
    font-size: 1.2em;
    margin: 0;
}
h1 {
    color: black;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}
article:not(:first-of-type) {
    margin-top: 1.5em;
}
h2 {
    @apply --layout-horizontal;
    @apply --layout-center;
    font-size: 1em;
    font-weight: 500;
    color: var(--subheading-color);
    margin: .5em 0;
}
h2 .icon {
    color: var(--accent-color);
    margin-right: 1rem;
    /* Because Hamburger icon has a padding area for ripple*/
    padding-left: .6rem;
}
.content {
    margin-left: calc(1.6rem + 24px);
    color: var(--content-color);
    font-size: .9em;
}
.content.small {
    max-width: 640px;
}
#ContribError {
    background: #F44336
}
.contributor {
    @apply --layout-horizontal;
    position: relative;
    padding: .5em;
    flex-wrap: wrap;
    border: 2px solid var(--action-color);
    border-radius: 3px;
    transition: border-color .25s;
    display: block;
}
[hidden] {display: none !important}