# kubeflow packages
kfp==1.6.3
kfp-server-api==1.6.0
kfserving==0.5.1

# common packages
bokeh==2.3.2
cloudpickle==1.6.0
dill==0.3.4
ipympl==0.7.0
ipywidgets==7.6.3
jupyterlab-git==0.30.1
matplotlib==3.4.2
pandas==1.2.4
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.10.0
seaborn==0.11.1
xgboost==1.4.2

# pytorch packages
#torchelastic==0.2.2 this currently causes a dependency conflict, should be fixed very soon
fastai==2.4
