<div class="lib-content-wrapper">
  <lib-title-actions-toolbar title="Notebooks" [buttons]="buttons" i18n-title>
    <lib-namespace-select
      *ngIf="(ns.dashboardConnected$ | async) === dashboardDisconnectedState"
      namespacesUrl="/api/namespaces"
    ></lib-namespace-select>
  </lib-title-actions-toolbar>

  <form>
    <mat-form-field>
      <mat-label>Search Notebook</mat-label>
      <input matInput placeholder="Search keyword" (input)="search($event.target.value)">
    </mat-form-field>
  </form>
  
  <!--scrollable page content-->
  <div *ngIf="!isBasic" class="page-padding lib-flex-grow lib-overflow-auto">
    <lib-table
      [config]="configAdvance"
      [data]="processedData"
      [trackByFn]="notebookTrackByFn"
      (actionsEmitter)="reactToAction($event)"
    ></lib-table>
  </div>

  <div *ngIf="isBasic" class="page-padding lib-flex-grow lib-overflow-auto">
    <lib-table
      [config]="config"
      [data]="processedData"
      [trackByFn]="notebookTrackByFn"
      (actionsEmitter)="reactToAction($event)"
    ></lib-table>
  </div>
</div>
