# kubeflow packages
kfp==2.3.0
kfp-server-api==2.0.1
kfserving==0.6.1

# scipy packages
beautifulsoup4==4.12.2
bokeh==3.2.2
Bottleneck==1.3.7
Brotli==1.1.0
cloudpickle==2.2.1
dask==2023.9.2
dill==0.3.7
h5py==3.9.0
ipympl==0.9.3
ipywidgets==8.1.1
jupyterlab_git==0.43.0
matplotlib==3.8.0
numba==0.58.0
numexpr==2.8.7
pandas==2.1.1
patsy==0.5.3
protobuf==3.20.3
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.12.2
SQLAlchemy==2.0.21
statsmodels==0.14.0
sympy==1.12
tables==3.8.0
vincent==0.4.4
xlrd==2.0.1
