@import '~@angular/material/theming';
@import "./kubeflow.css";

// Define typography
// NOTE: this create `mat-typography` class
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);

// Include the common styles for Angular Material
@include mat-core($custom-typography);

// Define the base kubeflow palette
$mat-kubeflow: (
  100: var(--accent-color-light),
  500: var(--accent-color),
  700: var(--accent-color-dark),
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
  )
);

// Define main theme colors
$kubeflow-theme-primary: mat-palette($mat-kubeflow);
$kubeflow-theme-accent: mat-palette($mat-kubeflow);
$kubeflow-theme-warn: mat-palette($mat-red);

// Create the theme object
$kubeflow-theme: mat-light-theme(
    $kubeflow-theme-primary,
    $kubeflow-theme-accent,
    $kubeflow-theme-warn,
);

// Apply theme to core components
@include angular-material-theme($kubeflow-theme);

// Include material icons offline
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/src/material-design-icons';

// Special CSS
body {
  margin: 0;
  background: #f1f3f4;
}
