#type {
  max-width: 15%;
}

#size {
  max-width: 10%;
}

#rokUrl {
  max-width: 100%;
}

#name {
  max-width: 30%;
}

#path {
  max-width: 25%;
}

#rokUrl-wrapper {
  max-width: 20%;
}

.volume-wrapper {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.volume-wrapper > * {
  flex: 1 1 0px;
  min-width: 0px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
