<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'sliders-h']"></fa-icon>
    PodDefaults
  </h3>
  <p>
    Select <a href="https://github.com/kubeflow/kubeflow/blob/master/components/admission-webhook/README.md" target="_blank">PodDefault</a> configurations which should be applied to the Notebook Server.
  </p>

  <mat-form-field class="wide" appearance="outline">
    <mat-label>PodDefaults</mat-label>
    <mat-select [formControl]="parentForm.controls.configurations" multiple>
      <mat-option *ngFor="let podDefault of podDefaults" [value]="podDefault.label">
        {{ podDefault.desc }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
