<lib-form-section
  title="{{ 'formWorkspaceVolume.workspaceVolume' | translate }}"
  text="{{ 'formWorkspaceVolume.workspaceVolumeDesc' | translate }}"
  icon="fa:fas:laptop-code"
>
  <div [formGroup]="parentForm">
    <mat-checkbox formControlName="noWorkspace">
      {{ 'formWorkspaceVolume.ckbNoPersistent' | translate }}
    </mat-checkbox>

    <app-volume
      [volume]="parentForm.get('workspace')"
      [notebookName]="parentForm.value.name"
      [pvcs]="pvcs"
      [ephemeral]="parentForm.value.noWorkspace"
      [namespace]="parentForm.value.namespace"
      [defaultStorageClass]="defaultStorageClass"
    >
    </app-volume>
  </div>
</lib-form-section>
