<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'laptop-code']"></fa-icon>
    Workspace Volume
  </h3>
  <p>Specify a PersistentVolume to mount for your home directory.</p>

  <mat-checkbox formControlName="noWorkspace">
    No Workspace Volume
  </mat-checkbox>

  <div *ngIf="!parentForm.value.noWorkspace">
    <app-volume [volumeForm]="parentForm.controls.workspace"
                [notebookName]="parentForm.value.name"
                [namespace]="parentForm.value.namespace"
                [defaultStorageClass]="defaultStorageClass"
                [pvcs]="pvcs">
    </app-volume>
  </div>

</div>
