[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
django-cors-headers = "*"
django-celery-results = "*"
grpcio = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.9"
