<lib-form-section
  title="{{ 'formDataVolumes.dataVolumes' | translate }}"
  text="{{ 'formDataVolumes.dataVolumesDesc' | translate }}"
  icon="fa:fas:hdd"
>
  <div [formGroup]="parentForm">
    <button
      mat-stroked-button
      class="add-data-vol-button"
      color="accent"
      (click)="addVol()"
      type="button"
      [disabled]="readonly"
    >
      <mat-icon>add</mat-icon>{{ 'formDataVolumes.addVolumeCaps' | translate }}
    </button>

    <div *ngFor="let vol of datavols; let i = index" class="volume-wrapper">
      <app-volume
        [volume]="vol"
        [notebookName]="parentForm.get('name').value"
        [namespace]="parentForm.get('namespace').value"
        [pvcs]="pvcs"
        [ephemeral]="false"
        [defaultStorageClass]="defaultStorageClass"
      >
      </app-volume>

      <div class="del-btn">
        <button
          mat-icon-button
          color="warn"
          (click)="deleteVol(i)"
          type="button"
          [disabled]="readonly"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</lib-form-section>
