/* You can add global styles to this file, and also import other style files */
@import '~kubeflow/styles/styles.scss';
@import '~kubeflow/styles/fonts.scss';

// Give some space after each input
mat-form-field {
  margin-bottom: 0.25rem;
}

.yaml-tab-container {
  .mat-form-field-flex > .mat-form-field-infix {
    margin-bottom: -0.4em;
    margin-top: -0.6em;
  }
}
