<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>
    GPUs
  </h3>
  <p>
    Specify the amount of GPUs to be requested.
  </p>

  <div class="inputs-wrapper" [formGroup]="parentForm.controls.gpus">
    <mat-form-field class="wide" appearance="outline">
      <mat-label>Number of GPUs</mat-label>
      <mat-select matNativeControl formControlName="num">
        <mat-option value="none">None</mat-option>
        <mat-option *ngFor="let num of nums" [value]="num">
          {{ num }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="wide" appearance="outline">
      <mat-label>GPU Vendor</mat-label>
      <mat-select matNativeControl formControlName="vendor" id="gpu-vendor">
        <mat-option *ngFor="let vendor of vendors" [value]="vendor.limitsKey">
          {{ vendor.uiName }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getVendorError() }}</mat-error>
    </mat-form-field>
  </div>
</div>
