<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <!--<fa-icon [icon]="['fas', 'cogs']" class="check"></fa-icon>-->
    <mat-icon class="gpu">memory</mat-icon>
    GPUs
  </h3>
  <p>
    Specify the number and Vendor of GPUs that will be assigned to the Notebook
    Server's Container.
  </p>

  <div class="inputs-wrapper">
    <mat-form-field class="wide" appearance="outline">
      <mat-label>Number of GPUs</mat-label>
      <mat-select matNativeControl>
        <mat-option value="none">None</mat-option>
        <mat-option *ngFor="let v of gpusCount" [value]="v">
          {{ v }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="wide" appearance="outline">
      <mat-label>GPU Vendor</mat-label>
      <mat-select matNativeControl>
        <mat-option value="NVIDIA">NVIDIA</mat-option>
        <mat-option value="AMD">AMD</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
