// Data Volumes with the Delete button
.volume-wrapper {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.volume-wrapper > app-volume {
  flex: 1 1 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  // width: 93%;
}

.volume-wrapper > .del-btn {
  flex: 1 1 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 10px;
}
