<lib-form-section
  title="Workspace Volume"
  text="
    Configure the Volume to be mounted as your personal Workspace.
  "
  icon="fa:fas:laptop-code"
>
  <mat-checkbox [formControl]="parentForm.get('noWorkspace')">
    Don't use Persistent Storage for User's home
  </mat-checkbox>

  <app-rok-volume
    [volume]="parentForm.get('workspace')"
    [notebookName]="parentForm.value.name"
    [pvcs]="pvcs"
    [ephemeral]="parentForm.value.noWorkspace"
    [namespace]="parentForm.value.namespace"
    [storageClasses]="storageClasses"
  >
  </app-rok-volume>
</lib-form-section>
