# These packages are installed for both python2 and python3

# Extensions for jupyter notebook
widgetsnbextension
ipywidgets

# tensorflow related packages
tensor2tensor

# Common data science packages
h5py
sklearn
pandas
keras
matplotlib

# Google Cloud related packages
google-cloud
pandas-gbq
google-api-python-client
