<lib-form-section
  title="Configurations"
  text="
    Extra layers of configurations that will be applied to the new Notebook.
    (e.g. Insert credentials as Secrets, set Environment Variables.)
  "
  icon="fa:fas:sliders-h"
>
  <!--Pod Defaults-->
  <mat-form-field class="wide" appearance="outline">
    <mat-label>Configurations</mat-label>
    <mat-select [formControl]="parentForm.get('configurations')" multiple>
      <mat-option *ngFor="let config of podDefaults" [value]="config.label">
        {{ config.desc }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--Pod Environment-->
  <mat-form-field class="wide" appearance="outline">
    <mat-label>Environment</mat-label>
    <input
      matInput
      placeholder="Environment variables in JSON"
      [formControl]="parentForm.get('environment')"
    />
    <mat-error>Environment is invalid</mat-error>
  </mat-form-field>
</lib-form-section>
