<div class="form--container" mat-dialog-content>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formCtrl">
    <lib-form-section
      title="New Configuration"
      text="Create a new Configuration."
      icon="fa:fas:hdd"
      i18n-title
      i18n-text
    >
    </lib-form-section>

    <!--Name / Namespace-->
    <lib-form-name-namespace-inputs
      [nameControl]="formCtrl.get('name')"
      [namespaceControl]="formCtrl.get('namespace')"
      resourceName="Configuration"
      i18n-resourceName
      [existingNames]="configurationNames"
    >
    </lib-form-name-namespace-inputs>
    
    <mat-form-field
      appearance="outline"
      class="wide"
    >
      <mat-label i18n>Configuration Desc</mat-label>
      <input matInput formControlName="desc" type="text" />
    </mat-form-field>
    <mat-label i18n>Configuration VolumeMounts</mat-label>
    <app-yamls #volummounteditor [value]="formCtrl.get('volumeMounts').value" mode="yaml" theme="xcode"></app-yamls>
    <mat-label i18n>Configuration Volumes</mat-label>
    <app-yamls #volumeeditor [value]="formCtrl.get('volumes').value" mode="yaml" theme="xcode"></app-yamls>
    <mat-label i18n>Configuration Env</mat-label>
    <app-yamls #enveditor [value]="formCtrl.get('env').value" mode="yaml" theme="xcode"></app-yamls>

    <button
    mat-raised-button
    color="primary"
    class="form--button-margin"
    type="submit"
    [disabled]="!formCtrl.valid || blockSubmit"
    i18n
    >
      CREATE
    </button>

    <button mat-raised-button type="button" (click)="onCancel()" i18n>
      CANCEL
    </button>
  </form>
</div>
