<lib-details-list-item key="Access modes" [chipsList]="accessModes">
</lib-details-list-item>

<lib-details-list-item key="Size">
  {{ size }}
</lib-details-list-item>

<lib-details-list-item key="Storage class">
  {{ storageClass }}
</lib-details-list-item>

<lib-details-list-item key="Volume mode">
  {{ volumeMode }}
</lib-details-list-item>

<lib-details-list-item key="Volume name" *ngIf="volumeName">
  {{ volumeName }}
</lib-details-list-item>

<lib-details-list-item
  key="Owned by"
  keyTooltip="The pvc is owned by the objects in this list. If all objects in the list get deleted, then the PVC itself will be deleted"
  *ngIf="ownerReferencesNotEmpty"
  [chipsList]="ownerRefs"
>
</lib-details-list-item>

<lib-content-list-item key="Pods Mounted">
  <ng-container *ngIf="!podGroupsLoaded">
    <lib-loading-spinner></lib-loading-spinner>
  </ng-container>

  <app-link-groups-table
    *ngIf="podGroupsLoaded"
    [linkGroups]="podGroups"
    [loadCompleted]="podGroupsLoaded"
    [loadErrorMsg]="podsMountedMessage"
  >
  </app-link-groups-table>
</lib-content-list-item>
