.link-groups {
  padding: 0.6rem 0;
  margin-bottom: 16px;
}

.link-groups:last-of-type {
  margin-bottom: 0;
}

.group-key {
  margin-bottom: 0.6rem;
  font-weight: 500;
}

.link-group-container {
  display: flex;
}

.lib-link {
  margin-right: 14px;
}
