.App {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  font-size: 15px;
  height: 100%;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  flex: 150px 0 0;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}
