.App {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
  flex: 150px 0 0;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.NameForm {  
  height: 304px;
  width: 704px;
}

#logs {
  background-color: #eee;
  box-sizing: border-box;
  flex-grow: 1;
  height: 400px;
  padding: 5px;
  width: 100%;
}
