body {
  --accent-color: #007dfc;
  --accent-color-light: #69abff;
  --accent-color-dark: #0052c8;
  --kubeflow-color: #003c75;
  --primary-background-color: #2196f3;
  --sidebar-color: #f8fafb;
  --border-color: #f4f4f6;
}
