<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'microchip']"></fa-icon>
    CPU / RAM
  </h3>
  <p>
    Specify the amount of CPU and RAM to be requested.
  </p>

  <div class="inputs-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>CPU Cores</mat-label>
      <input matInput formControlName="cpu" required>
      <mat-hint *ngIf="setLimitCPU">
        *Exceeding this CPU request will cause the Pod to throttle
      </mat-hint>
      <mat-error>Please provide the CPU requirements</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RAM Amount</mat-label>
      <input matInput formControlName="memory" required>
      <mat-hint *ngIf="setLimitMemory">
        *Exceeding this RAM request will cause the Pod to restart
      </mat-hint>
      <mat-error>Memory request can't be empty</mat-error>
    </mat-form-field>
  </div>
</div>
