absl-py==0.1.13
astor==0.6.2
backports.weakref==1.0.post1
bleach==1.5.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
grpcio==1.10.1
html5lib==0.9999999
Markdown==2.6.11
mock==2.0.0
numpy==1.14.2
pbr==4.0.1
protobuf==3.5.2.post1
six==1.11.0
tensorflow==1.6.0
tensorflow-serving-api==1.6.0
tensorboard==1.6.0
termcolor==1.1.0
Werkzeug==0.14.1
