backports.weakref==1.0.post1
bleach==1.5.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
grpcio==1.8.3
html5lib==0.9999999
Markdown==2.6.11
mock==2.0.0
numpy==1.13.3
pbr==3.1.1
protobuf==3.5.1
six==1.11.0
tensorflow==1.4.1
tensorflow-serving-api==1.4.0
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.14.1
