# These packages are installed for both python2 and python3

# Extensions for jupyter notebook
widgetsnbextension
ipywidgets

# tensorflow related packages
tensor2tensor

# Common data science packages
h5py
sklearn
pandas
keras
matplotlib

# Google Cloud related packages
google-cloud
pandas-gbq
google-api-python-client

jupyter-console
jupyterlab
xgboost
jupyterlab_widgets
kubeflow-fairing==1.0.2
kfserving==0.4.1
kfp==1.0.4
kfp-server-api==1.0.4
