<!-- <h3 *ngIf="header">{{ header }}</h3> -->

<div class="flex-column">
  <div
    *ngFor="let ctrl of formArray.controls; let i = index"
    class="key-value-entry"
  >
    <mat-form-field appearance="outline">
      <mat-label>{{ keyLabel }}</mat-label>
      <input [formControl]="ctrl.get('key')" matInput />
    </mat-form-field>
 
    <mat-form-field
      appearance="outline"
      class="column"
    >
      <mat-label i18n>{{ valueLabel }}</mat-label>
      <input [formControl]="ctrl.get('value')" matInput />
    </mat-form-field>

    <div>
      <input [formControl]="ctrl.get('isBase64')" type="checkbox" />
      <mat-label i18n>Encrypt</mat-label>
    </div>

    <button
      mat-icon-button
      matSuffix
      (click)="removeCtrl(i)"
      matTooltip="Remove item from the list"
      class="delete-btn"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<button mat-stroked-button color="primary" (click)="addCtrl()" class="add-btn">
  <mat-icon>add</mat-icon>{{ addButtonText }}
</button>
