:host {
  display: block;
}

.key-value-entry {
  display: flex;

  .mat-form-field:nth-child(2) {
    margin-left: 12px;
  }

  .delete-btn {
    margin-top: 10px;
  }
}

.add-btn {
  margin-bottom: 12px;
}
