<lib-form-section
  title="CPU / RAM"
  text="Specify the total amount of CPU and RAM reserved by your Notebook Server.
    For CPU-intensive workloads, you can choose more than 1 CPU (e.g. 1.5)."
  icon="fa:fas:microchip"
>
  <div class="row">
    <!--CPU-->
    <lib-positive-number-input
      class="column"
      min="0.1"
      step="0.1"
      [sizeControl]="parentForm.get('cpu')"
      label="Requested CPUs"
    ></lib-positive-number-input>

    <!--RAM-->
    <lib-positive-number-input
      class="column"
      min="0.1"
      step="0.1"
      [sizeControl]="parentForm.get('memory')"
      label="Requested memory in Gi"
    ></lib-positive-number-input>
  </div>
  <lib-advanced-options>
    <div class="row">
      <!--CPU-->
      <div class="column">
        <mat-form-field appearance="outline" class="wide">
          <mat-label>CPU limit</mat-label>
          <input
            matInput
            type="number"
            min="0.1"
            step="0.1"
            [formControl]="parentForm.get('cpuLimit')"
          />
        </mat-form-field>
      </div>
      <!--RAM-->
      <div class="column">
        <mat-form-field appearance="outline" class="wide">
          <mat-label>Memory limit in Gi</mat-label>
          <input
            matInput
            type="number"
            min="0.1"
            step="0.1"
            [formControl]="parentForm.get('memoryLimit')"
          />
        </mat-form-field>
      </div>
    </div>
  </lib-advanced-options>
</lib-form-section>
