// Data Volumes with the Delete button
.volume-wrapper {
  display: flex;
  width: 100%;
}

.volume-wrapper > app-rok-volume {
  flex: 1 1 0px;
  min-width: initial;
  max-width: 95%;
}

.volume-wrapper > .del-btn {
  flex: 1 1 0px;
  margin-top: 0.8rem;
  width: 5%;
  text-align: center;
}
