<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fas', 'hdd']"></fa-icon>
    Data Volumes
  </h3>
  <p>Specify additional PersistentVolumes to mount for data storage.</p>

  <button mat-stroked-button
          color="accent"
          type="button"
          (click)="addVol()"
          [disabled]="readonly">
    <mat-icon>add</mat-icon>
    <span>ADD VOLUME</span>
  </button>

  <div *ngFor="let vol of datavols; let i = index" class="volume-wrapper">
    <app-volume [volumeForm]="vol"
                [notebookName]="parentForm.value.name"
                [namespace]="parentForm.value.namespace"
                [defaultStorageClass]="defaultStorageClass"
                [pvcs]="pvcs">
    </app-volume>

    <div class="delete-wrapper">
      <button mat-icon-button
              color="warn"
              type="button"
              (click)="deleteVol(i)"
              [disabled]="readonly">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
