// Data Volumes with the Delete button
.volume-wrapper {
  display: flex;
  box-sizing: border-box;
}

.volume-wrapper > app-volume {
  flex: 1 1 0px;
  box-sizing: border-box;
  max-width: 96%;
}

.volume-wrapper > .delete-wrapper {
  flex: 1 1 0px;
  box-sizing: border-box;
  max-width: 4%;
  padding-left: 0.1rem;
  margin-top: 0.7rem;
}
