jupyter
matplotlib
jupyter_http_over_ws
ipykernel
nbformat
jupyter-console
jupyterlab
xgboost
kubeflow-fairing
widgetsnbextension
ipywidgets
h5py
sklearn
pandas
keras
matplotlib
google-cloud
pandas-gbq
google-api-python-client
kfserving
kfp==1.0.4
kfp-server-api==1.0.4
