<lib-form-section
  title="{{ 'formGpus.gpus' | translate }}"
  text="{{ 'formGpus.gpusDesc' | translate }}"
  icon="custom:gpuSectionIcon"
>
  <div class="row" [formGroup]="parentForm.get('gpus')">
    <!--GPUs Number-->
    <mat-form-field class="column" appearance="outline">
      <mat-label>{{ 'formGpus.numGpus' | translate }}</mat-label>
      <mat-select matNativeControl formControlName="num">
        <mat-option value="none">{{ 'common.optNone' | translate }}</mat-option>
        <mat-option *ngFor="let v of gpusCount" [value]="v">
          {{ v }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--GPUs Vendor-->
    <mat-form-field class="column" appearance="outline">
      <mat-label>{{ 'formGpus.gpuVendor' | translate }}</mat-label>
      <mat-select matNativeControl formControlName="vendor" id="gpu-vendor">
        <mat-option
          *ngFor="let v of vendors"
          [value]="v.limitsKey"
          [disabled]="vendorIsDisabled(v)"
          [matTooltip]="vendorTooltip(v)"
        >
          {{ v.uiName }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getVendorError() | translate }}</mat-error>
    </mat-form-field>
  </div>
</lib-form-section>
