<lib-form-section title="GPUs" i18n-title>
  <div class="row" [formGroup]="parentForm.get('gpus')">
    <!--GPUs Number-->
    <lib-positive-number-input
      class="column"
      formControlName="num"
      min="0"
      step="0.1"
      [sizeControl]="parentForm.get('gpus').get('num')"
      label="GPU/vGPU Core"
      i18n-label
    ></lib-positive-number-input>

    <!--GPUs Vendor-->
    <mat-form-field class="column" appearance="outline">
      <mat-label i18n>GPU Vendor</mat-label>
      <mat-select matNativeControl formControlName="vendor" id="gpu-vendor">
        <mat-option
          *ngFor="let v of vendors"
          [value]="v.limitsKey"
          [matTooltip]="vendorTooltip(v)"
        >
          {{ v.uiName }}
        </mat-option>
      </mat-select>
      <mat-error>{{ getVendorError() }}</mat-error>
    </mat-form-field>
  </div>

  <lib-advanced-options>
    <div class="row">
      <!--GPUs Memory-->
      <lib-positive-number-input
        class="column"
        formControlName="memory"
        min="0"
        step="1"
        [sizeControl]="parentForm.get('gpus').get('memory')"
        label="vGPU Memory"
        i18n-label
      ></lib-positive-number-input>

      <!--GPUs Memory Vendor-->
      <mat-form-field class="column" appearance="outline">
        <mat-label i18n>GPU Memory Vendor</mat-label>
        <mat-select matNativeControl formControlName="memoryVendor" id="gpu-memory-vendor">
          <mat-option
            *ngFor="let v of memoryVendors"
            [value]="v.limitsKey"
            [matTooltip]="vendorTooltip(v)"
          >
            {{ v.uiName }}
          </mat-option>
        </mat-select>
        <mat-error>{{ getVendorError() }}</mat-error>
      </mat-form-field>
    </div>
  </lib-advanced-options>
</lib-form-section>
