<div>
  <!--Uninitialized Phase-->
  <button
    *ngIf="isPhaseUninitialized()"
    mat-icon-button
    matTooltip="{{ action.tooltip }}"
    matTooltipClass="custom-tooltip"
    [color]="action.color"
    (click)="emitClickedEvent()"
  >
    <lib-icon [icon]="action.iconInit"></lib-icon>
  </button>

  <!--Ready Phase-->
  <button
    *ngIf="isPhaseReady()"
    mat-icon-button
    matTooltip="{{ action.tooltip }}"
    matTooltipClass="custom-tooltip"
    [color]="action.color"
    (click)="emitClickedEvent()"
  >
    <lib-icon [icon]="action.iconReady"></lib-icon>
  </button>

  <div
    matTooltipClass="custom-tooltip"
    [matTooltip]="'The PVCViewer is currently starting.'"
    matTooltipClass="custom-tooltip"
  >
    <mat-spinner
      *ngIf="isPhaseWaiting()"
      [diameter]="24"
      style="margin: 0 auto"
    ></mat-spinner>
  </div>

  <div
    matTooltipClass="custom-tooltip"
    [matTooltip]="'The PVCViewer is currently terminating.'"
    matTooltipClass="custom-tooltip"
  >
    <button *ngIf="isPhaseTerminating()" mat-icon-button disabled>
      <lib-icon [icon]="action.iconInit"></lib-icon>
    </button>
  </div>
</div>
