name: Build & Publish TWA Docker image
on:
  push:
    branches:
      - master
      - v*-branch
    paths:
      - components/crud-web-apps/tensorboards/**
      - components/crud-web-apps/common/**

jobs:
  push_to_registry:
    name: Build & Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Run TWA build and push
      run: |
        cd components/crud-web-apps/tensorboards
        export IMG=docker.io/kubeflownotebookswg/tensorboard-web-app
        make image
