<div class="group-wrapper" [formGroup]="parentForm">
  <h3>
    <fa-icon [icon]="['fab', 'docker']"></fa-icon>
    Image
  </h3>
  <p>
    Specify the container image to be used by the Notebook Server.
  </p>
  <mat-checkbox *ngIf="!readonly" formControlName="customImageCheck">
    Custom Image
  </mat-checkbox>

  <div class="inputs-wrapper">
    <mat-form-field class="wide"
                    appearance="outline"
                    *ngIf="!parentForm?.value.customImageCheck">
      <mat-label>Container Image</mat-label>
      <mat-select placeholder="Container Image" formControlName="image">
        <mat-option *ngFor="let img of images" [value]="img">
          {{ img }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="wide"
                    appearance="outline"
                    *ngIf="parentForm?.value.customImageCheck">
      <mat-label>Container Image</mat-label>
      <input matInput formControlName="customImage" required>
      <mat-error>Notebook Server image can't be empty</mat-error>
    </mat-form-field>
  </div>
</div>
