.container {
  width: fit-content;
  margin: 1rem auto;
}

.card {
  width: 900px;
  padding: 16px;
  border-radius: 5px;
  background: white;
}

.margin {
  margin: 8px 8px 8px 0px;
}

// Classes used by sub-components
.wide {
  width: 100%;
}

h3, p {
  color: rgba(0, 0, 0, 0.54);
}

.group-wrapper {
  margin-bottom: 0.5rem;
}

.group-wrapper > button {
  margin-bottom: 0.5rem;
}

.material-icons {
  line-height: 0.85;
}

.inputs-wrapper {
  display: flex;
  box-sizing: border-box;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.inputs-wrapper > .mat-form-field {
  flex: 1 1 0px;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
