<lib-form-section
  title="{{ 'formAffinityTolerations.affinityTolerations' | translate }}"
  text="{{ 'formAffinityTolerations.affinityTolerationsDesc' | translate }}"
  icon="fa:fas:bullseye"
>
  <div class="row">
    <!--Affinity-->
    <mat-form-field class="wide column" appearance="outline">
      <mat-label>
        {{ 'formAffinityTolerations.affinityConfig' | translate }}
      </mat-label>
      <mat-select [formControl]="parentForm.get('affinityConfig')">
        <mat-option value="">{{ 'common.optNone' | translate }}</mat-option>
        <mat-option
          *ngFor="let affinityConfig of affinityConfigs"
          [value]="affinityConfig.configKey"
        >
          {{ affinityConfig.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--Tolerations-->
    <mat-form-field class="wide column" appearance="outline">
      <mat-label>
        {{ 'formAffinityTolerations.tolerationsGroup' | translate }}
      </mat-label>
      <mat-select [formControl]="parentForm.get('tolerationGroup')">
        <mat-option value="">{{ 'common.optNone' | translate }}</mat-option>
        <mat-option
          *ngFor="let tolerationGroup of tolerationGroups"
          [value]="tolerationGroup.groupKey"
        >
          {{ tolerationGroup.displayName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</lib-form-section>
